In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
stats_file = "Raw Data/nba_player_stats.csv"
stats_df = pd.read_csv(stats_file)
stats_df.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Alex Abrines\abrinal01,SG,24,OKC,75,1134,9.0,0.567,0.759,...,NaN,1.3,1.0,2.2,0.094,NaN,-0.5,-1.7,-2.2,-0.1
1,2,Quincy Acy\acyqu01,PF,27,BRK,70,1359,8.2,0.525,0.800,...,NaN,-0.1,1.1,1.0,0.036,NaN,-2.0,-0.2,-2.2,-0.1
2,3,Steven Adams\adamsst01,C,24,OKC,76,2487,20.6,0.630,0.003,...,NaN,6.7,3.0,9.7,0.187,NaN,2.2,1.1,3.3,3.3
3,4,Bam Adebayo\adebaba01,C,20,MIA,69,1368,15.7,0.570,0.021,...,NaN,2.3,1.9,4.2,0.148,NaN,-1.6,1.8,0.2,0.8
4,5,Arron Afflalo\afflaar01,SG,32,ORL,53,682,5.8,0.516,0.432,...,NaN,-0.1,0.2,0.1,0.009,NaN,-4.1,-1.8,-5.8,-0.7

In [3]:
stats_df["Player"] = stats_df["Player"].map(lambda name: name.split("\\")[0])
stats_df.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Alex Abrines,SG,24,OKC,75,1134,9.0,0.567,0.759,...,NaN,1.3,1.0,2.2,0.094,NaN,-0.5,-1.7,-2.2,-0.1
1,2,Quincy Acy,PF,27,BRK,70,1359,8.2,0.525,0.800,...,NaN,-0.1,1.1,1.0,0.036,NaN,-2.0,-0.2,-2.2,-0.1
2,3,Steven Adams,C,24,OKC,76,2487,20.6,0.630,0.003,...,NaN,6.7,3.0,9.7,0.187,NaN,2.2,1.1,3.3,3.3
3,4,Bam Adebayo,C,20,MIA,69,1368,15.7,0.570,0.021,...,NaN,2.3,1.9,4.2,0.148,NaN,-1.6,1.8,0.2,0.8
4,5,Arron Afflalo,SG,32,ORL,53,682,5.8,0.516,0.432,...,NaN,-0.1,0.2,0.1,0.009,NaN,-4.1,-1.8,-5.8,-0.7

In [4]:
stats_df.count()

Rk             664
Player         664
Pos            664
Age            664
Tm             664
G              664
MP             664
PER            664
TS%            660
3PAr           660
FTr            660
ORB%           664
DRB%           664
TRB%           664
AST%           664
STL%           664
BLK%           664
TOV%           660
USG%           664
Unnamed: 19      0
OWS            664
DWS            664
WS             664
WS/48          664
Unnamed: 24      0
OBPM           664
DBPM           664
BPM            664
VORP           664
dtype: int64

In [5]:
# Create a filtered dataframe from specific columns
top_stats = ["Rk", "Player", "Pos", "Age", "G", "MP", "TS%", "BLK%"]
stats_transformed = stats_df[top_stats].copy()

# Rename the column headers
stats_transformed = stats_transformed.rename(columns={"Rk": "rank",
                                                      "Player": "id",
                                                      "Pos": "position",
                                                      "Age": "age",
                                                      "G": "games",
                                                      "MP": "minutes played",
                                                      "PER": "player efficiency rating",
                                                      "TS%": "true shooting percentage",
                                                      "BLK%": "block percentage"})

# Clean the data by dropping duplicates and setting the index
stats_transformed.drop_duplicates("id", inplace=True)
stats_transformed.set_index("id", inplace=True)

stats_transformed.head()

,rank,position,age,games,minutes played,true shooting percentage,block percentage
id,,,,,,,
Alex Abrines,1,SG,24,75,1134,0.567,0.6
Quincy Acy,2,PF,27,70,1359,0.525,1.6
Steven Adams,3,C,24,76,2487,0.630,2.8
Bam Adebayo,4,C,20,69,1368,0.570,2.5
Arron Afflalo,5,SG,32,53,682,0.516,1.1

In [6]:
stats_transformed.to_csv("NBA_player_stats_final.csv")

In [7]:
stats_transformed.count()

rank                        540
position                    540
age                         540
games                       540
minutes played              540
true shooting percentage    537
block percentage            540
dtype: int64